{% extends 'products/base.html' %}
{% load my_tags %}
{% load static %}

{% block content  %}
    <div class="row">
    {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top"
                     src="{{ object.photo|mymedia }}"
                     alt="image">
                     <!-- alt="image" height="370"> -->
                <div class="card-body">
                    <p class="card-text">{{object.name}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
